<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SetupProject1" Language="1033" Version="1.0.0.0" Manufacturer="Panel::Software" UpgradeCode="{8104A715-7B77-4A38-963D-98A3A67944B8}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="SetupProject1" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="MSIFASTINSTALL" Value="7"/>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SetupProject1" />
      </Directory>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER64" Name="SetupProject1" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <!-- x86 -->
      <Component Directory="INSTALLFOLDER" Id="dir" Guid="{BBAD00CE-54C8-46F6-BB8E-9378A25AF5AE}" Win64="no">
        <CreateFolder/>
        <RemoveFolder Directory="INSTALLFOLDER" On="uninstall" Id="uninstallDir"/>
      </Component>
      <Component Directory="INSTALLFOLDER" Win64="no">
        <File Source="$(sys.SOURCEFILEPATH)"/>
      </Component>
      <Component Directory="INSTALLFOLDER" Win64="no">
        <RegistryValue Root="HKLM" Key="SOFTWARE\[ProductName]" Name="keyHklm" Value="value" Type="string"/>
      </Component>
      <Component Directory="INSTALLFOLDER" Win64="no">
        <RegistryValue Root="HKCR" Key="SOFTWARE\[ProductName]" Name="keyHkcr" Value="value" Type="string"/>
      </Component>
      <Component Directory="INSTALLFOLDER" Win64="no">
        <RegistryValue Root="HKCU" Key="SOFTWARE\[ProductName]" Name="keyHkcu" Value="value" Type="string"/>
      </Component>
      <Component Directory="INSTALLFOLDER" Guid="{E416B234-229B-4ACD-8999-DFEE14E69424}" Id="odbc" Win64="no">
        <ODBCDataSource DriverName="drv" Id="odbc" Name="nm" Registration="machine" KeyPath="yes"/>
      </Component>

      <!-- x64 -->
      <Component Directory="INSTALLFOLDER64" Id="dir64" Guid="{2AD39A5B-23AF-4CEB-B8FF-D1E5A46187B6}" Win64="yes">
        <CreateFolder/>
        <RemoveFolder Directory="INSTALLFOLDER64" On="uninstall" Id="uninstallDir64"/>
      </Component>
      <Component Directory="INSTALLFOLDER64" Win64="yes">
        <File Source="$(sys.SOURCEFILEPATH)" Name="Product64.wxs"/>
      </Component>
      <Component Directory="INSTALLFOLDER64" Win64="yes">
        <RegistryValue Root="HKLM" Key="SOFTWARE\[ProductName]" Name="keyHklm64" Value="value" Type="string"/>
      </Component>
      <Component Directory="INSTALLFOLDER64" Win64="yes">
        <RegistryValue Root="HKCR" Key="SOFTWARE\[ProductName]" Name="keyHkcr64" Value="value" Type="string"/>
      </Component>
      <Component Directory="INSTALLFOLDER64" Win64="yes">
        <RegistryValue Root="HKCU" Key="SOFTWARE\[ProductName]" Name="keyHkcu64" Value="value" Type="string"/>
      </Component>
      <Component Directory="INSTALLFOLDER64" Guid="{2B0FB69E-AAA0-49C9-B1F4-C83C2ACAE45D}" Id="odbc64" Win64="yes">
        <ODBCDataSource DriverName="drv64" Id="odbc64" Name="nm64" Registration="machine" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>