<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SetupProject1" Language="1033" Version="1.0.0.0" Manufacturer="Panel::Software" UpgradeCode="{8104A715-7B77-4A38-963D-98A3A67944B8}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="SetupProject1" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="MSIFASTINSTALL" Value="7"/>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SetupProject1-x86" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <!-- x86 -->
      <Component Directory="INSTALLFOLDER" Id="dir" Guid="{BBAD00CE-54C8-46F6-BB8E-9378A25AF5AE}" Win64="no">
        <CreateFolder/>
        <RemoveFolder Directory="INSTALLFOLDER" On="uninstall" Id="uninstallDir"/>
      </Component>
      <Component Directory="INSTALLFOLDER" Win64="no">
        <File Source="$(sys.SOURCEFILEPATH)"/>
      </Component>
      <Component Directory="INSTALLFOLDER" Win64="no">
        <RegistryValue Root="HKLM" Key="SOFTWARE\[ProductName]" Name="keyHklmx86" Value="value" Type="string"/>
      </Component>
      <Component Directory="INSTALLFOLDER" Win64="no">
        <RegistryValue Root="HKCR" Key="SOFTWARE\[ProductName]" Name="keyHkcrx86" Value="value" Type="string"/>
      </Component>
      <Component Directory="INSTALLFOLDER" Win64="no">
        <RegistryValue Root="HKCU" Key="SOFTWARE\[ProductName]" Name="keyHkcux86" Value="value" Type="string"/>
      </Component>
      <Component Directory="INSTALLFOLDER" Guid="{2B0FB69E-AAA0-49C9-B1F4-C83C2ACAE45D}" Id="odbc" Win64="no">
        <ODBCDataSource DriverName="drv" Id="odbc" Name="nm86" Registration="machine" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>